*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
.tm*
~*

/.libs
/.deps
/autom4te.cache

/aclocal.m4
/art_config.h
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gen_art_config.sh
/install-sh
/libart-2.0-uninstalled.pc
/libart-2.0.pc
/libart-config
/libart-features.h
/libart-zip
/libart2-config
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1
testart
testuta
